<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this book from being saved:
 <ul>
   <% @book.errors.full_massage.each do |message| %>
   <li><%= massage %></li>
   <% end %>
 </ul>
 <% end %>