* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

 table {
   margin-bottom: 50px;
 }
 
 thead {
   text-align: center;
   font-weight: bold;
 }
 
 tbody {
 }
 
 .title {
   width: 200px;
   padding: 0px 5px;
 }
 
 .body {
   width: 300px;
   padding: 0px 5px;
 } 
 
 .button {
   width: 200px;
   padding: 0px 5px;
 }
 
 